<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script
      src="https://kit.fontawesome.com/378eb86a3a.js"
      crossorigin="anonymous"></script>
  </head>
  <h1 style="font-family: goodBoy; font-size: 60px; margin: 5px 0">
    Pets, Glrius Pets!
  </h1>
  <nav><a href="/pets">ALL PETS</a> | <a href="/pets/new">ADD A PET</a></nav>
  <body></body>
</html>
