<%- include("../partials/header") %>

<form action="/pets" method="POST">
  <table class="form" border="none">
    <tr>
      <td align="right">Image:</td>
      <td align="left"><input type="text" name="image" /></td>
    </tr>
    <tr>
      <td align="right">Name:</td>
      <td align="left"><input type="text" name="name" /></td>
    </tr>
    <tr>
      <td align="right">Type:</td>
      <td align="left">
        <select name="type" id="type">
          <option value="Dog">Dog</option>
          <option value="Cat">Cat</option>
        </select>
      </td>
    </tr>
    <tr>
      <td align="right">Breed:</td>
      <td align="left"><select name="breed" id="breed"></select></td>
    </tr>
    <tr>
      <td align="right">Age:</td>
      <td align="left"><input type="number" name="age" /></td>
    </tr>
    <tr>
      <td align="right">Birthday:</td>
      <td align="left"><input type="date" name="birthday" /></td>
    </tr>
    <tr>
      <td></td>
      <td align="left">
        <button type="submit">Add Pet</button>
      </td>
    </tr>
  </table>
</form>

<%- include("../partials/footer") %>
